/* src/App.css */
* {
  text-decoration: none;
  color: #000000;
  font-family: "Arial";
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-items: center;
  justify-content: center;
}

.headMid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
body::-webkit-scrollbar {
  display: none;
}
.navBar {
  padding: 15px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.dealsArrow {
  height: 50px;
  width: 15px;
  margin: 10px 5px;
  padding-top: 10px;
  background-color: #7b7b7b;
  z-index: 2;
}
.dealsArrow:hover {
  height: 75px;
  width: 30px;
  padding-top: 25px;
  transition: 1s;
}
.vapeImages {
  overflow-x: scroll;
  scroll-behavior: smooth;
  flex-direction: row;
  margin: 25px;
  width: 55vw;
  height: auto;
}

.vapeImages::-webkit-scrollbar {
  display: none;
}
.nrText {
  width: 150px;
  height: auto;
  font-size: small;
}
.Images {
  overflow-x: scroll;
  scroll-behavior: smooth;
  flex-direction: row;
  margin: 25px;
  width: 90vw;
  height: auto;
}
.Images::-webkit-scrollbar {
  display: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.activeButton {
  background-color: rgba(0, 255, 255, 0.546);
  box-shadow: 5px 5px 0px 0px;
}
.headerBtn {
  margin-top: auto;
  position: relative;
}
.headerText {
  h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5),
      -4px -4px 8px rgba(255, 255, 255, 0.5);
  }
  h4,
  h2,
  h5 {
    font-weight: lighter;
    -webkit-text-stroke: 0.2px black;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5),
      -1px -1px 2px rgba(255, 255, 255, 0.5);
  }
}
h2 {
  margin: 0;
}
.button:hover {
  color: rgb(168, 0, 0);
  size: 110%;
  transition: 1s;
  border: 0px;
  background-color: #000000;
  font-weight: bolder;
}
.button {
  margin: 7.5px;
  font-weight: bolder;
  box-shadow: 5px 0px 25px 0px;
  padding: 10px 30px;
  border-radius: 20px;
  color: white;
  background-color: rgb(157, 157, 157, 0.5);
}
.btn-active {
  margin: 5px;
  padding: 5px 10px;
  transition: 1s;
  border-radius: 10px;
  background-color: rgba(22, 255, 154, 0.5);
}
.btn-inactive {
  margin: 5px;
  padding: 5px 10px;
  border-radius: 10px;
  transition: 1s;
  background-color: rgba(254, 95, 95, 0.3);
}
.headerArrow {
  height: 75px;
  width: 25px;
  padding-top: 25px;
  justify-self: center;
  align-items: center;

  background-color: rgb(142, 142, 142, 0.5);
}
.headerArrow:hover {
  height: 100px;
  width: 35px;
  padding-top: 40px;
  transition: 1s;
  background-color: #bfbfbf;
}
.citrus-text {
  padding: 15px;
  height: 300px;
  width: 40vw;
  padding-top: 75px;
}
.exactMovieButton {
  margin: 5px;
  padding: 5px 15px;
  border: 2px solid #0994ff;
  border-radius: 15px;
}
.exactMovieButton:hover {
  padding: 10px 20px;
  background-color: #f3ff094a;
  transition: 1s;
  border-radius: 20px;
  border: 1.4px solid #ff0909;
}
.citrus-img {
  height: 300px;
  width: 50vw;
}
.imgCtn {
  align-items: center;
  justify-content: flex-start;
}
.bsbb {
  border: 0px;
  box-sizing: border-box;
}
.yellow {
  color: yellow;
}
.bestDealImg {
  height: 200px;
  width: 225px;
}
.navBarBgAdd {
  background-color: #ffffff52;
}
.bestDealShadowAdd {
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  margin: 10px;
  display: inline-block;
  padding: 10px;
  max-width: 150px;
}
.bestDealShadowAdd:hover {
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  scale: 1.1;
  transition: 2s;
  border-radius: 5px;
}
.bestDeal {
  margin: 5px;
}
/* }
.bestDeal:hover {
  background-color: #c1c1c16d;
  transition: 2s;
  .fs-4 {
    transition: 1s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8),
      -4px -4px 8px rgba(255, 255, 255, 0.5);
  }
  .bestDealImg {
    height: 220px;
    width: 245px;
    transition: 1s;
    transform: scaleX(0.7);
    transform: rotate(20deg);
  }
} */
.vapes {
  align-items: center;
}
.vapesImg {
  height: 150px;
  width: 150px;
}
.nRImgDiv {
  height: auto;
  width: 150px;
}
.newReleasedImg {
  height: 150px;
  width: auto;
}
.devImg:hover {
  img {
    transition: 1s;
    transform: scaleY(0.4);
    transform: rotate(20deg);
  }
}
.App {
  text-align: center;
  overflow: hidden;
  background-color: gold;
}
.icon {
  width: 80vw;
}
.viewBtn {
  border-radius: 20px; /* Adjust the value to control the roundness */
  padding: 10px 30px; /* Adjust padding for width and height */
  background-color: #000000; /* Set your desired background color */
  color: #ffffff; /* Set the text color */
  border: none; /* Remove default button border */
  text-align: center; /* Center the text inside the button */
  text-decoration: none; /* Make the button behave like an inline element */
  font-size: 16px; /* Set the font size */
}
.footer {
  width: auto;
  margin-top: 15px;
  background-color: #000000;
  color: rgba(0, 255, 255, 0.794);
  align-items: flex-start;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 25px;
}

.viewBtn:hover {
  background-color: #7b7b7b;
  color: rgb(0, 0, 0);
  transition: 1s;
}
.viewBtn1 {
  justify-content: center;
  border-radius: 20px; /* Adjust the value to control the roundness */
  padding: 10px 60px; /* Adjust padding for width and height */
  background-color: #9c9c9c; /* Set your desired background color */
  color: #ffffff; /* Set the text color */
  border: none; /* Remove default button border */
  text-align: center; /* Center the text inside the button */
  text-decoration: none; /* Remove underline from the text */
  display: inline-block; /* Make the button behave like an inline element */
  font-size: 16px; /* Set the font size */
}
.viewBtn1:hover {
  background-color: #7b7b7b;
  color: rgb(0, 0, 0);
  transition: 1s;
}
/* HomePage.css */
.membership {
  background-color: rgb(54, 54, 54);
  color: #ffffff;
  align-items: center;
  justify-content: space-between;
}
.Instagram {
  background-image: linear-gradient(45deg, #e6b140, #db518b, #833ab4, #752ecb);
  color: white;
}
.membership:hover {
  background-color: rgb(65, 65, 65);
  color: #d8d8d8;
  transition: 1s;
}
.product-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: content-box;
}
.container {
  margin: 15px;
  padding: 15px;
  background-color: goldenrod;
}
.Review {
  font-size: medium;
  color: #e6b140;
  font-family: s Times, serif;
  font-weight: bold;
  text-shadow: #121212;
  -webkit-text-stroke: 0.7px rgb(0, 0, 0);
}

.slideshowContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  width: auto;
}
.popularMovies {
  display: inline;
}
.popularMoviesComp {
  display: flex;
  flex-direction: row;
}

.slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  font-weight: bold;
  align-items: center;
  justify-items: center;
  height: 100vh; /* Set height to fill the screen */
}

.slide.fade-in {
  opacity: 1;
}

.slide.fade-out {
  opacity: 0.5;
}

@keyframes appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
